
@{
    ViewData["Title"] = "Error";
}

<h1>An Error occured processing your request. We are working on fix</h1>

<h5>Plaese Contact admin@empManagement.com</h5>
<hr/>

<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Stack Trace</h5>
    <hr />
    <p>@ViewBag.Stacktrace</p>
</div>